@model IEnumerable<Examen1.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Agregar Producto</h2>

<p>
    @Html.ActionLink("Crear Producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoDeBarra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Familia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoDeBarra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Familia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-pencil" }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-th-list" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
